{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="contents">
  {% if user.is_authenticated %}
  <p class="greeting">こんにちは、<a href="{% url 'users:mypage' user.pk %}">{{ user.nickname }}さん</a></p>
  {% endif %}

  <div class="card-list">
    {% for prototype in prototypes %}
    <div class="card">
      <a href="{% url 'Prototypes:detail' prototype.pk %}">
        <img src="{{ prototype.image.url }}" alt="{{ prototype.title }}">
        <p class="card-title">{{ prototype.title }}</p>
        <p class="card-catchphrase">{{ prototype.catchphrase }}</p>
      </a>
      <p class="card-author"><a href="{% url 'users:mypage' prototype.user.pk %}">by {{ prototype.user.nickname }}</a></p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}