{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
<div class ="contents row">
  {% for prototype in prototypes %}
  <div class = "card">
    <a href="{% url 'Prototypes:detail' prototype.pk %}">

      <img src="{{ prototype.image.url }}">
      {{ prototype.catchphrase }}
      {{ prototype.title}}
      by{{ prototype.user.nickname}}
    </a>
  

  </div>
{% endfor %}
{% if user.is_authenticated %}
  <p class="greeting">こんにちは、<a href="">{{ user.nickname }}さん</a></p>
{% endif %}
</body>

{% endblock content %}