{% load static %}

<div class="comment-form">
  {% if user.is_authenticated %}
  <p class="detail-label">コメント</p>
  <form method="post" action="{% url 'Comment:create' object.pk %}">
    {% csrf_token %}
    {{ form.text }}
    <input type="submit" value="送信する" class="btn-submit">
  </form>
  {% else %}
  <p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
  {% endif %}
</div>

<div class="comment-list">
  {% for comment in comments %}
  <p>・{{ comment.text }}<a href="{% url 'users:mypage' comment.user.pk %}">（{{ comment.user.nickname }}）</a></p>
  {% endfor %}
</div>